.aboutapp{
    margin-top: 20rem;
}

.aboutapp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }

.div2{
    max-width: 55%;
}

@media (max-width: 768px){
    .aboutapp img{
        display: none;
    }

    .div2{
        display: block;
        text-align: center;
        font-size: 1.4rem;

    }
}

.aboutapp img{
    max-width: 100%;
    width: 60%;
    margin-left: 10rem;
}