.aboutapp {
    margin-top: 20rem;
}

.aboutapp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
    max-width: 55%;
}

.div2 p{
    font-family: 'Poppins', sans-seri;
}

#abouth1{
    color: rgb(79, 79, 253);
    font-size: 1.2rem;
    font-weight: 700;
   
}


.aboutapp img {
    max-width: 100%;
    width: 60%;
    margin-left: 18rem;
}

@media (max-width: 768px) {
    .aboutapp {
        grid-template-columns: 1fr;
    }
    #abouth1{
        font-size: 2.5rem;
    }

    .div2 {
        width: 100rem;
    }

    .div2 h2{
        font-size: 4rem;
    }

    .div2 p{
        font-size: 3rem;
    }
}

/* Estilos para pantallas más grandes */
@media (min-width: 769px) {
    .aboutapp {
        grid-template-columns: repeat(2, 1fr);
    }

    .div2 {
        max-width: 55%;
    }
}