.titlecontact h3 {
    font-size: 1.2rem;
    color: rgb(79, 79, 253);
}

.contact {
    margin-left: 15rem;
}

.gmail {
    display: inline-block;
    margin-top: 2rem;
}

.gmailp {
    display: inline-block;
    font-size: 1.4rem;
    margin-left: 2rem;
}

/* Estilos para pantallas más pequeñas (por ejemplo, dispositivos móviles) */
@media (max-width: 768px) {
    .titlecontact h3 {
        font-size: 1rem; /* Ajustar el tamaño de fuente para dispositivos móviles */
    }

    .contact {
        position: absolute;
        margin-top: 8rem;
        margin-left: 8rem;
        width: 100rem; ;/* Eliminar el margen izquierdo en dispositivos móviles */
    }

    .contact h3{
        font-size: 3rem;
    }
    .contact h2{
        font-size: 4rem;
    }
    .contact p{
        font-size: 4rem;
    }
    .gmail {
        display: block; /* Mostrar en bloque en dispositivos móviles */
        margin-top: 1rem; /* Ajustar el margen superior */
    }

    .gmailp {
        display: block; /* Mostrar en bloque en dispositivos móviles */
        font-size: 1.2rem; /* Ajustar el tamaño de fuente en dispositivos móviles */
        margin-left: 0; /* Eliminar el margen izquierdo en dispositivos móviles */
    }
}
