.stackdiv img {
    transition: transform 0.3s ease;
    margin-right: .2rem;
    width: 2.5rem;
}

.stackdiv img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

@media (max-width: 768px){
    .stackdiv img{
        width: 5rem;
    }
    .stackdiv{
        width: 80rem;
    }
}
